.vscode/
build/
covers/
*.exe
*.pdb
*.ilk
*.log
*.zip
*.7z
.DS_Store
Thumbs.db

# IDE files
*.user
*.suo
*.ntvs*
*.njsproj
*.vcxproj*
*.vcxproj.filters
test/test_html_page.html
test/test_not_with_#_html_page.html
test/UTF8_Encoding_Solution.md
